@model OdeToFood.ViewModels.HomeViewModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<div>
    <marquee><h5>Welcome our platform, we help you to find your favorite restaurant and order whatever you want</h5></marquee>
    <div>
        <div class="row">
            @* @foreach (var resto in Model) *@
            @foreach (var resto in Model.Restaurants)
            {
                <div class="col-md-4 mb-2">
   
                    <div class="card booking-card">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="~/food.jpg" alt="Card image cap">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                        <div class="card-body">
                            <h4 class="card-title font-weight-bold">@Html.ActionLink(resto.Name, "Details", new {id = resto.Id})</h4>
                            <div class="btn-group"><button type="button"  class="btn btn-success" >Edit</button><button type="button" class="btn btn-danger">Delete</button></div>
                        </div>

                    </div>
         
                </div>
            }
</div>
    </div>
</div>